/**
 * Login Module;
 **/
.main-body {background: url('../img/service/login_bg.png') center center no-repeat; max-width: 720px; height: 100%; margin: 0 auto;}
.wrapper {position:absolute; top: .8rem; left: 50%; margin-left: -2.7rem; width: 5.4rem; height: 4.8rem; background-color: #f1f1f1;
  border-radius: .1rem; padding: .45rem;}
.phone-num-input input, .authcode-input input {
  width: 100%; 
  font-size: .4rem;
  color: #000;
  background-color: #f1f1f1;
  text-align: center;
  outline: none; 
  display: block; 
  border-bottom: solid 1px #fff;
  padding: .3rem;
  border-radius: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.tel-focus {text-align: left !important; padding-left: 1.1rem !important;}
.authcode-focus{text-align: left !important; padding-left: .4rem !important;}
input:focus {outline: none;}
.disable {background-color: #CEC9C9 !important;}
.authcode-input input {float: left; width: 60%;}
#getAuthcode {float: left; width: 40%; height: .8rem; background-color: #F5935C; font-size: .3rem; text-align: center; 
  line-height: .8rem; color: #fff; border-radius: .1rem; margin-top: .1rem;}
.user-agreement-checkbox {width: 100%; height: 1rem; line-height: 1rem; font-size: .25rem; padding-left: .25rem;}
.user-agreement-checkbox label {display: inline-block; width: .28rem; height: .28rem; cursor: pointer; 
  background-image: url('../img/service/unchecked.png'); background-repeat: no-repeat; background-position: center center;
  background-size: .28rem; vertical-align: text-bottom;}
#checkAgreement:checked + label {background-image: url('../img/service/checked.png') !important;}
.user-agreement-checkbox a {color: #f5b1ae;}
.login-btn {width: 2.82rem; height: .82rem; margin: 0 auto; background-color: #ec584e; color: #fff; font-size: .36rem; text-align: center;
 line-height: .82rem; border-radius: .1rem;}
::-webkit-input-placeholder {color:#9a9a9a; font-size: .32rem;}
::-moz-placeholder { color:#9a9a9a; font-size: .32rem;}
:-ms-input-placeholder { color:#9a9a9a; font-size: .32rem;}
input:-moz-placeholder { color:#9a9a9a; font-size: .32rem;}

.mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: .4; z-index: 9998; display: none}
.userAgreement {position: absolute; top: .3rem; left: 10%;width: 80%; height: 80%; z-index: 9999; font-size: .24rem; 
  background-color: #fff; border-radius: .08rem; display: none;}
.content-head {width: 100%; height: .6rem; position: relative; background-color: #EDEDED; border-radius: .08rem;}
#hideAgreement {position: absolute; top: 0; right: 0; width: 1rem; height: .6rem; line-height: .6rem; text-align: center; cursor: pointer;}
.content-body {padding: .2rem; width: 100%; height: 90%; overflow-y: scroll; }
.inner-wrapper {position: relative;}
h5 {margin: 0; padding: 0;}
ol > li {list-style-type: decimal ;}
.list-circle > li {list-style-type: disc; margin-left: .2rem;}